<div style='display: flex; flex-direction: row; justify-content: space-around; align-items: center; background-color: blue;'>
  <h1>Words</h1>
  <%= render 'form', word: @word %>
</div>

<p id="notice"><%= notice %></p>

  <% @words.each do |word| %>
    <div style='display: inline-block;'>
      <div class='newWord'>
        <%= word.newWord %>
      </div>
    </div>
  <% end %>
</div>
